@model IEnumerable<ChildCare.Models.Invoice>
<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_tIcH8dgH3kLvB4KvXo9iQ");
   })();
</script>
@{
    ViewBag.Title = "Index";
}
<div class="container">
    @Html.AntiForgeryToken()

    <div class="form-horizontal"></div>

        <div class="container heading-box">

            <div class="row" style="margin-top: 10vh">
                <h4>Generate Monthly Invoices</h4>
                <div class="col-sm-4">
                    <div class="form-group">
                        <p>Select a month:</p>
                        <input type="month" class="form-control input-md" placeholder="Select a month" id="month" />
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <p>Select a due date:</p>
                        <input type="date" class="form-control input-md" placeholder="Select a due date" id="dueDate"/>
                    </div>
                </div>

                <div class="col-sm-4">
                    <p></p><p></p>
                    <input type="button" class="btn btn-primary btn-lg" value="Generate" onclick="GenerateMonthlyInvoices()" />
                </div>
            </div>

            <div class="row" style="margin-top: 10vh">
                <h4>Send Monthly Invoice Emails</h4>
                <div class="col-sm-4">
                    <div class="form-group">
                        <p>Select a month:</p>
                        <input type="month" class="form-control input-md" placeholder="Select a month" id="monthEmail" />
                    </div>
                </div>

                <div class="col-sm-4">

                </div>

                <div class="col-sm-4">
                    <p></p><p></p>
                    <input type="button" class="btn btn-primary btn-lg" value="Generate" onclick="SendInvoiceEmail()" />
                </div>
            </div>
        </div>

        <div id="inputModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                        <h4 id="inputModalTitle" class="modal-title">Reminder</h4>
                    </div>
                    <div id="inputModalBody" class="modal-body">Please enter a month and due date.</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="inputModalClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
</div>


    @section Scripts {
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
        <script src="~/Scripts/moment.min.js" type="text/javascript"></script>
    }

<script>
    function GenerateMonthlyInvoices()
    {
        var invoiceData;
        if ($('#month').val() != "" || $('#dueDate').val() != "")
        {
            $.ajax({
                async: false,
                url: '../../Attendances/Invoice',
                type: "GET",
                dataType: "json",
                data: {
                    month: moment($('#month').val()).format("M"),
                    year: moment($('#year').val()).format('YYYY')
                },
                success: function (data, textStatus) {
                    if (!data) {
                        alert("There was an issue generating invoices. Please try again.");
                        return;
                    }
                    else{
                        invoiceData = data;
                    }
                }
            });
        }
        else
        {
            $('#inputModalBody').html("Please enter a month and a due date.");
            $('#inputModal').modal();
        }

        for (i = 0; i < invoiceData.length; i++) {
            $.ajax({
                async: true,
                url: '../../Invoices/Create',
                type: 'POST',
                datatype: 'json',
                data: {
                    __RequestVerificationToken: $('[name= "__RequestVerificationToken"]').val(),
                    Month: moment($('#month').val()).format("MMMM"),
                    Year: moment($('#year').val()).format('YYYY'),
                    AmountDue: invoiceData[i].AmountDue,
                    DateDue: $('#dueDate').val(),
                    Adjustments: 0,
                    Notes: "",
                    AmountPaid: 0,
                    UserId: invoiceData[i].ParentId,
                    DatePaid: "1/1/1970"
                }

            });
        }
    }

    function SendInvoiceEmail()
    {
        var invoices;
        if ($('#monthEmail').val() != "")
        {
            $.ajax({
                async: false,
                url: '../../Invoices/GetInvoices',
                type: "GET",
                dataType: "json",
                data: {
                    month: moment($('#monthEmail').val()).format("MMMM"),
                    year: moment($('#year').val()).format('YYYY')
                },
                success: function (data, textStatus) {
                    if (!data) {
                        alert("There was an issue generating emails. Please try again.");
                        return;
                    }
                    else {
                        invoices = data;
                    }
                }
            });
        }
        else
        {
            $('#inputModalBody').html("Please select a month.");
            $('#inputModal').modal();
        }

        for (i = 0; i < invoices.length; i++)
        {
            var message = "Your Month Year invoice is available.\n\r\rPlease pay $Amount by DueDate.\n\r\rIf you have any questions about your invoice, please contact us."
            .replace("Month", invoices[i].Month)
            .replace("Year", invoices[i].Year)
            .replace("Amount", invoices[i].AmountDue)
            .replace("DueDate", moment(invoices[i].DateDue).format("MMMM D"));

            var to = invoices[i].ApplicationUser.Email
            var from = "AfterSchoolCareApp";
            var subject = "AfterSchoolCareApp Invoice";
            var name = invoices[i].ApplicationUser.FirstName;

            SendEmail(name, to, subject, message);

        }
    }

    function SendEmail(name,to,subject,message)
    {
            emailjs.send("default_service", "invoice", { to_name: name, send_to: to, message_html: message, subject: subject});
       
    }
</script>





