@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1></h1>
        <p class="lead"><img align="middle" class="img-responsive" src="../../Images/Site/free-childcare.jpg" width="50%"/></p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-4">
        <a href="/../Children/">
            <img src="../../Images/Site/children.jpg" class="img-rounded" width="100%" />
            <center>
                <h1>Children</h1>
                <h2>-- Manage Attendance Calendar</h2>
                <h2>-- Receive Daily Sign-Out Alerts</h2>
            </center>
        </a>
    </div>

    <div class="col-md-4">
        <a href="../Drivers/">
            <img src="../../Images/Site/school-bus.png" class="img-rounded" width="94%" />
            <center>
                <h1>Drivers</h1>
                <h2>-- Create Profiles For Your Approved Drivers</h2>
            </center>
        </a>
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-4">
            <a href="../../Invoices/AdminFunctions">
                <img src="../../Images/Site/chalkboard-admin.jpg" class="img-rounded" width="100%" />
                <center>
                    <h1>Program Administration</h1>
                    <h2>-- Generate Monthly Invoices</h2>
                    <h2>-- Communicate With Parents</h2>
                </center>
            </a>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <a href="../../Invoices/AdminFunctions">
                <img src="../../Images/Site/chalkboard-admin.jpg" class="img-rounded" width="100%" />
                <center>
                    <h1>Billing/Invoicing</h1>
                    <h2>-- Track Your Monthly Expenditures </h2>
                    <h2>-- Receive Yearly Tax Statements</h2>
                </center>
            </a>
        </div>
    }


</div>