@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1></h1>
        <p class="lead"><img align="middle" class="img-responsive" src="../../Images/Site/free-childcare.jpg" width="50%"/></p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-3">
        <h2>@*Getting started*@</h2>
        <a href="../../Account/Register">
            <img src="../../Images/Site/register.png" class="img-circle" width="100%"/>
            <p>Create your account today.</p>
            <p>@*<a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>*@</p>
        </a>
    </div>
    <div class="col-md-3">
        @*<h2>Web Hosting</h2>*@
        <a href=".../../Children/">
            <img src="../../Images/Site/kids.png" class="img-circle" width="80%" />
            <p>Manage your child's profile and calendar.</p>
        </a>
        <p>@*<a class="btn btn-default" href="/Children/Details">Children &raquo;</a>*@</p>
    </div>
    <div class="col-md-3">
        <a href="../../Drivers/">
            <img src="../../Images/Site/school-bus.png" class="img-circle" width="90%"/>
            @*<h2>Get more libraries</h2>*@
            <p>Manage your drivers.</p>
        </a>
        @*<p><a class="btn btn-default" href="../../Drivers/">Drivers &raquo;</a></p>*@
    </div>

    @if (User.IsInRole("Admin"))
    {
        <div class="col-md-3">
            <a href="../../Invoices/AdminFunctions">
                <img src="../../Images/Site/chalkboard.png" class="img-circle" width="110"/>
                <p>Administrator functions</p>
            </a>
        </div>
    }


</div>